
<div class = "container">
  <div class ="row">
    <div class ="col-xs-12 col-sm-12 col-md-9">
      <h1> Welcome </h1>
      <h4> My Programs</h4>
      <a href="https://oeop.mit.edu/programs/mites"><h4>MITES: Minority Introduction to Engineering and Science at MIT</h4> </a>
      <div class="media">
        <div class="media-left">
            <a href="https://www.mit.edu">
              <img class="media-object" src="https://i.ytimg.com/vi/hTeqBLsKdw8/hqdefault.jpg" alt="MIT">
          </a>
          </div>
    <div class="media-body">
      <h4 class="media-heading"></h4>
        <p> Location: </p>
        <p> Price: </p>
        <p> Type of City: </p>
        <p> Dates: </p>
        <p> Field of Interest: </p>
        <p> Commuter or Residential: </p>
        <p> Grade level: </p>
        <p> Ages: </p>
      </div>
    </div>
    <a href="https://oeop.mit.edu/programs/mites"><h4> MITES: Minority Introduction to Engineering and Science at MIT </h4></a>
      <div class="media">
        <div class="media-left">
            <a href="https://www.mit.edu">
              <img class="media-object" src="https://i.ytimg.com/vi/hTeqBLsKdw8/hqdefault.jpg" alt="MIT">
          </a>
          </div>
    <div class="media-body">
      <h4 class="media-heading"></h4>
        <p> Location: </p>
        <p> Price: </p>
        <p> Type of City: </p>
        <p> Dates: </p>
        <p> Field of Interest: </p>
        <p> Commuter or Residential: </p>
        <p> Grade level: </p>
        <p> Ages: </p>
      </div>
    </div>
      <h3><%= link_to 'Sign Out', destroy_user_session_path, :method=> 'delete' %></h3>
      </div>

    <div class ="col-xs-12 col-sm-12 col-md-3">
          <h1> Take the quiz </h1>
          <a href="quizzes" > <h4>Match yourself to the perfect program with our comprehensive quiz!</h4></a>
          
          <h1> My Profile </h1>
          <h4> Program criteria:</h4>
          <p> Gender: </p>
          <P> Location: </P>
          <p> Price: </p>
        <p> Type of City: </p>
        <p> Dates: </p>
        <p> Field of Interest: </p>
        <p> Commuter or Residential: </p>
        <p> Grade level: </p>
        <p> Age: </p>
            </div>
    </div>
  </div>

  


