
<div class = "container">
  <div class ="row">
    <div class ="col-xs-12 col-sm-12 col-md-12">
      <h1> About </h1>
      <h3> The Team </h3>
      <p> Our team is comprised of four high school students who have each struggled through the summers to find something interesting to do.  This website was designed to make finding a summer program easy and enjoyable.  We have also made it much easier for you as a student or parent to keep track of deadlines with our personalized favorites page.  This page will allow you to keep track of all of your deadlines for applications along with the ability to prioritize certain programs based off your personal needs.  We hope you find this convenient and helpful throughout your summer college endeavors. </p>
      
      <div class="media">
        <div class="pull-left">
        <a href ="https://twitter.com/brightoes" >
            <img id="imgpeople" class="media-object" src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10924765_958404550846817_2189375123591690497_n.jpg?oh=2d7cbeed185b995076afb2af99d35ea8&oe=5618FE83" alt="steph">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Jamarber Bakali</h4>
          As designer of Summer Enrichment, Stephanie created all the aesthetic details of the site. She likes writing and doing other cool stuff in Miami, Florida, where she currently lives. She hopes to combine her love for journalism and molecular biology in a career that combines both fields. 
        </div>
      </div>
      
      <div class="media">
        <div class="pull-left">
        <a href ="https://twitter.com/brightoes" >
            <img id="imgpeople" class="media-object" src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10924765_958404550846817_2189375123591690497_n.jpg?oh=2d7cbeed185b995076afb2af99d35ea8&oe=5618FE83" alt="steph">
          </a>
        </div>
        <div class="media-body">
          <h2 class="media-heading">Stephanie Brito</h2>
          As designer of Summer Enrichment, Stephanie created all the aesthetic details of the site. She likes writing and doing other cool stuff in Miami, Florida, where she currently lives. She hopes to combine her love for journalism and molecular biology in a career that combines both fields. 
        </div>
      </div>
      
      <div class="media">
        <div class="pull-left">
        <a href ="https://twitter.com/brightoes" >
            <img id="imgpeople" class="media-object" src="https://scontent.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/10924765_958404550846817_2189375123591690497_n.jpg?oh=2d7cbeed185b995076afb2af99d35ea8&oe=5618FE83" alt="steph">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Stephanie Brito</h4>
          As designer of Summer Enrichment, Stephanie created all the aesthetic details of the site. She likes writing and doing other cool stuff in Miami, Florida, where she currently lives. She hopes to combine her love for journalism and molecular biology in a career that combines both fields. 
        </div>
      </div>
    </div>
  </div>
</div>
