<<link type="text/css" rel="stylesheets" href="pages.scss"/>
<h1><img class="img" src="https://scontent.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11146475_984406401579965_1878072332497128079_n.jpg?oh=d8e989c1aa16b0a73855349500353e87&oe=5656F431"></h1>

<!DOCTYPE html>
<html>
  <body>
    <nav class="navbar navbar-default container-flui">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="btn btn-default" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="home">Home</a></li>
        <li><a href="programs">Programs</a></li>
        <li><a href="about_us">About</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="faq">FAQ</a></li>
        </li>
      </ul>
     </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class = "container">
  <div class ="row">
    <div class ="col-xs-12 col-sm-12 col-md-12">
      <h1> About </h1>
      <h4> The Team </h4>
      <p> Our team is comprised of four high school students who have each struggled through the summers to find something interesting to do.  This website was designed to make finding a summer program easy and enjoyable.  We have also made it much easier for you as a student or parent to keep track of deadlines with our personalized favorites page.  This page will allow you to keep track of all of your deadlines for applications along with the ability to prioritize certain programs based off your personal needs.  We hope you find this convenient and helpful throughout your summer college endeavors. </p>
    </div>
  </div>
</div>
  </body>
</html>