
<div class = "container">
  <div class ="row">
    <div class ="col-xs-12 col-sm-12 col-md-12">
      <h1> Contact </h1>
      <h4> Technical Problems </h4>
      <p> Phone: (305)-123-4567</p>
      <h5> Boris Ragula: </h5>
<p>Phone (228)-243-2717 </p>
<p> Email: boris.ragula98@gmail.com </p>

<h5> Stephanie Brito: </h5>
<p>Phone (786)-715-9942 </p>
<p>Email: stephanie.brito77@gmail.com</p>

<h5>Arber Bakali </h5>
<p>Phone (347)-285-4405</p>
<p>Email: jamarberbakalli@gmail.com </p>

<h5>Alex Iyabor </h5>
<p> Phone (678)-826-8574 </p>
<p>Email: alexiy101@gmail.com </p>
    </div>
  </div>
</div>
  </body>
</html>