
<div class = "container">
  <div class ="row">
    <div class ="col-xs-12 col-sm-12 col-md-12">
      <h1> Frenquently Asked Questions </h1>
      <h4> How does the quiz work? </h4>
      <p> An algorithm created by our head coder, Arber, matches .</p>
    </div>
  </div>
</div>
  </body>
</html>