<link type="text/css" rel="stylesheets" href="pages.scss"/>
<h1><img class="img" src="https://scontent.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11008562_981814285172510_5190326524390331942_n.jpg?oh=aa6ea3e9025e9994ea840f6ef919a8bb&oe=5624D5AC"></h1>
<!DOCTYPE html>
<head>
  <script src="assets/javascripts/carousel.js" type="text/javascript"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-default container-flui">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="btn btn-default" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="home">Home</a></li>
        <li><a href="programs">Programs</a></li>
        <li><a href="about_us">About</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="faq">FAQ</a></li>
        </li>
      </ul>
     </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<div class = "container">
  <div class = "row">
    <div class = "col-xs-12 col-sm-6 col-md-9" id="f">
      <!-- <h3> <a href = "#"> Column 1 </a> </h3> -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://i.ytimg.com/vi/hTeqBLsKdw8/hqdefault.jpg" alt="MITES">
      <div class="carousel-caption">
        <h3>MITES @ MIT</h3>
        <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
      </div>
    </div>

    <div class="item">
      <img src="http://www.ledascholars.org/wp-content/themes/DynamiX/lib/scripts/timthumb.php?src=http://www.ledascholars.org/wp-content/uploads/2014/04/Orange.jpg&h=350&w=940&zc=0" alt="LEDA">
      <div class="carousel-caption">
        <h3>LEDA</h3>
        <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
      </div>
    </div>

    <div class="item">
      <img src="https://blog.ingeniusprep.com/wp-content/uploads/2014/05/Harvard-Admissions.jpg" alt="Harvard">
      <div class="carousel-caption">
        <h3>Harvard</h3>
        <p>Beatiful flowers in Kolymbari, Crete.</p>
      </div>
    </div>

    <div class="item">
      <img src="http://colleges.usnews.rankingsandreviews.com/img/college-photo_199._445x280-zmm.jpg
" alt="Stanford">
      <div class="carousel-caption">
        <h3>Stanford</h3>
        <p>Beatiful flowers in Kolymbari, Crete.</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  
</div>
        <h1> Mission Statement</h1>
        <div class ="col-xs-12 col-sm-6 col-md-4">
          <!-- Subcolumn 1 -->
          <h4> <a href = "#"> Social Media </a> </h4>
          <a class="btn btn-social-icon btn-facebook">
    <i class="fa fa-facebook"></i> <p> Like us on Facebook! </p>
  </a> 
          <a class="btn btn-social-icon btn-twitter">
    <i class="fa fa-twitter"></i> <p> Follow us on Twitter! </p>
  </a> 
  <a class="btn btn-social-icon btn-instagram">
    <i class="fa fa-instagram"></i> <p> Follow us on Instagram! </p>
  </a> 
  <a class="btn btn-social-icon btn-youtube">
    <i class="fa fa-youtube"></i> <p> Subscribe to our YouTube!</p>
  </a>
    
        </div> 
        <div class = "col-xs-12 col-sm-6 col-md-8"> 
          <h4> The Team</h4>
          <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://www.merchantsgroup.com/images/GroupPic.jpg" alt="The Group">
    </a>
  </div>
  <div class="media-body">
  </div>
</div>
  <p> Summer Enrichment began as a summer project at MITES 2015. The team consists of four people</p>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
  <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>      
        </div>
      </div>
    <div class = "col-xs-12 col-sm-6 col-md-3" id="f">
      <!--<h3> <a href = "#"> Column 2 </a> </h3>-->
      <h1> Login </h1>
      <p> Username </p>
      <p> Password </p>
      <p> NEW? Take the summer quiz! </p>

      <h1> Testimonials</h1>
      <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://golumo.com/wp-content/uploads/2010/07/testimonial.jpg" alt="Test">
    </a>
  </div>
  <div class="media-body">
  </div>
</div>
    </div>
    
  </div>
</div> 
</body>
</html>