
<div class = "container">
  <div class ="row">
    <div class ="col-xs-12 col-sm-12 col-md-9">
      <h1> Programs </h1>
      <a href="https://oeop.mit.edu/programs/mites"> <h4> MITES: Minority Introduction to Engineering and Science at MIT </h4></a>
      <div class="media">
        <div class="media-left">
            <a href="https://www.mit.edu">
              <img class="media-object" src="https://i.ytimg.com/vi/hTeqBLsKdw8/hqdefault.jpg" alt="MIT">
          </a>
          </div>
    <div class="media-body">
      <h4 class="media-heading"></h4>
        <p> Location: </p>
        <p> Price: </p>
        <p> Type of City: </p>
        <p> Dates: </p>
        <p> Field of Interest: </p>
        <p> Commuter or Residential: </p>
        <p> Grade level: </p>
        <p> Ages: </p>
      </div>
    </div>
    <a href="https://oeop.mit.edu/programs/mites"> <h4> MITES: Minority Introduction to Engineering and Science at MIT </h4></a>
      <div class="media">
        <div class="media-left">
            <a href="https://www.mit.edu">
              <img class="media-object" src="https://i.ytimg.com/vi/hTeqBLsKdw8/hqdefault.jpg" alt="MIT">
          </a>
          </div>
    <div class="media-body">
      <h4 class="media-heading"></h4>
        <p> Location: </p>
        <p> Price: </p>
        <p> Type of City: </p>
        <p> Dates: </p>
        <p> Field of Interest: </p>
        <p> Commuter or Residential: </p>
        <p> Grade level: </p>
        <p> Ages: </p>
      </div>
    </div>
    <a href="https://oeop.mit.edu/programs/mites"> <h4> MITES: Minority Introduction to Engineering and Science at MIT </h4></a>
      <div class="media">
        <div class="media-left">
            <a href="https://www.mit.edu">
              <img class="media-object" src="https://i.ytimg.com/vi/hTeqBLsKdw8/hqdefault.jpg" alt="MIT">
          </a>
          </div>
    <div class="media-body">
      <h4 class="media-heading"></h4>
        <p> Location: </p>
        <p> Price: </p>
        <p> Type of City: </p>
        <p> Dates: </p>
        <p> Field of Interest: </p>
        <p> Commuter or Residential: </p>
        <p> Grade level: </p>
        <p> Ages: </p>
      </div>
    </div>
      
    </div>
    <div class ="col-xs-12 col-sm-12 col-md-3">
      <h1> Search programs</h1>
      <p> *searchbar* </p>
      </div>
  </div>
</div>
  </body>
</html>
